
@{
    ViewBag.Title = "Home";
}
@{
    var message = TempData["AlertMessage"] ?? string.Empty;
}
<link href="~/stylesheet.css" rel="stylesheet" />

<script type="text/javascript">
    var message = '@message';
    if (message)
        alert(message);
</script>
<style>
    a {
        color: #f5f5f5;
        text-decoration: none;
    }
    .btn{
            padding:10px;
            width200px;
        }
    .padding{
        padding:10px 5px;
    }
</style>

<div>
    <center><h4><span class="custom-heading"><u>Home</u></span></h4></center>
</div>
<div class="well well-lg">
    <div class="row">
        <div class="col-lg-6 padding">
            <div class="btn btn-primary pull-right" style="color: #fff;">
                @Html.ActionLink("Create & Send new mail", "CreateMail")
            </div>
        </div>
        <div class="col-lg-6 padding">
            <div class="btn btn-primary" style="color: #fff;">
                <div>
                    @Html.ActionLink("Register New Admin", "RegisterAdmin")
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 padding">
            <div class="btn btn-primary pull-right" style="color: #fff;">
                @Html.ActionLink("View All Mail Category", "ViewAllMailCategory")
            </div>
        </div>
        <div class="col-lg-6 padding">
            <div class="btn btn-primary" style="color: #fff;">
                @Html.ActionLink("View All Person", "ViewAllPerson")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 padding">
            <div class="btn btn-primary pull-right" style="color: #fff;">
                @Html.ActionLink("View All Person Type", "ViewAllPersonType")
            </div>
        </div>
        <div class="col-lg-6 padding">
            <div class="btn btn-primary" style="color: #fff;">
                <div>
                    @Html.ActionLink("View All Send Mail", "ViewAllSendMail")
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 padding" style=" margin-left:auto; margin-right:auto; display:block;">
            <div class="btn btn-primary" style="color: #fff;">
                <div class="center-block">
                    @Html.ActionLink("View All Send To", "ViewAllSendTo")
                </div>
            </div>
        </div>

     </div>
</div>

